body{
    background-color: hsl(212, 45%, 89%);
}

.container1{
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10vh 10vh;
    border: 100vh;
    border-radius: 10%;
}

.qr_container{
    text-align: center;
}

.qr_container img{
    width: 50vh;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}